In [ ]:
D:\python\clonerepo\myprojectclean\notebooks\data\gemstone.csv

In [1]:
import logging
import os 
from datetime import datetime

In [2]:
datetime.now()

datetime.datetime(2023, 11, 7, 22, 42, 12, 652344)

In [3]:
f"{datetime.now().strftime('%m_%d_%Y_%H_%M_%S')}.log"

'11_07_2023_22_45_03.log'

In [5]:
os.path.join(os.getcwd(),"logs")

'd:\\python\\clonerepo\\myprojectclean\\notebooks\\logs'

In [3]:
from DimondPricePrediction.logger import logging

ModuleNotFoundError: No module named 'DimondPricePrediction'

In [4]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv")

In [5]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [25]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler

In [7]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [9]:
X=df.drop("price",axis=1)

In [10]:
X

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [12]:
y=df.price
y

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

In [13]:
X.columns

Index(['id', 'date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: float64(4), int64(15), object(1)
memory usage: 3.3+ MB

In [ ]:
X=X.drop(["id","date"],axis=1)

In [22]:
X.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [32]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [33]:
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
16716,3,1.00,1040,10080,1.0,0,0,3,6,1040,0,1959,0,98023,47.3290,-122.343,1000,8736
2922,3,2.50,1910,4941,2.0,0,0,3,8,1910,0,1999,0,98075,47.5989,-122.016,1910,4941
1447,3,2.25,1500,7308,1.0,0,0,4,7,1210,290,1968,0,98055,47.4621,-122.187,1480,7400
20318,4,2.50,2190,3855,2.0,0,0,3,8,2190,0,2010,0,98011,47.7705,-122.169,2190,3600
15114,4,2.25,1870,6693,2.0,0,0,3,7,1870,0,1996,0,98003,47.2774,-122.299,1650,6518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20610,3,2.50,1600,1936,2.0,0,0,3,7,1600,0,2007,0,98108,47.5629,-122.297,1600,1936
3185,3,1.75,1210,4400,1.5,0,0,4,8,1210,0,1930,0,98105,47.6621,-122.288,2020,3750
21017,3,2.00,1420,1369,2.5,0,0,3,9,1340,80,2007,0,98109,47.6472,-122.357,1540,2168
11464,4,2.50,1770,4338,2.0,0,0,3,7,1770,0,2001,0,98042,47.3672,-122.099,1770,6606
13588,2,1.00,940,4800,1.0,0,0,4,6,940,0,1911,1955,98116,47.5756,-122.414,980,5900

In [35]:
X_test

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
19819,4,2.75,3140,7258,2.0,0,1,3,10,3140,0,2006,0,98034,47.7064,-122.232,2990,13600
1138,2,2.00,1310,2550,2.0,0,0,3,6,1310,0,2004,0,98038,47.3496,-122.022,1310,2550
4174,5,1.00,1950,6250,1.5,0,0,4,7,1450,500,1917,0,98136,47.5511,-122.386,1950,6250
1168,2,0.75,440,8313,1.0,1,3,4,5,440,0,1943,0,98070,47.4339,-122.512,880,26289
17867,4,1.75,960,8863,1.0,0,0,5,6,580,380,1949,0,98118,47.5372,-122.289,1720,8249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12381,3,2.50,2050,6420,1.0,0,3,3,8,1730,320,1956,0,98116,47.5708,-122.405,2370,7620
13450,2,2.00,1320,1462,3.0,0,0,3,7,1320,0,1997,0,98125,47.7223,-122.290,1430,1650
6482,4,2.25,2490,8700,1.0,0,0,3,7,1890,600,1976,0,98155,47.7397,-122.324,1470,7975
15578,4,2.50,2050,4502,2.0,0,0,3,7,2050,0,2005,0,98059,47.5002,-122.150,2480,4504
20451,5,2.75,3030,7679,2.0,0,0,3,9,3030,0,2014,0,98074,47.5930,-122.057,3080,6341

In [36]:
y_train

16716    184900.0
2922     570000.0
1447     290000.0
20318    540000.0
15114    299000.0
           ...
20610    395000.0
3185     635000.0
21017    550000.0
11464    279900.0
13588    399000.0
Name: price, Length: 16209, dtype: float64

In [37]:
y_test

19819    920000.0
1138     219000.0
4174     438000.0
1168     290000.0
17867    255000.0
           ...
12381    670000.0
13450    342000.0
6482     442500.0
15578    369950.0
20451    837219.0
Name: price, Length: 5404, dtype: float64

In [38]:
scaler=StandardScaler()

In [40]:
scaled_data=scaler.fit_transform(X_train)

In [42]:
scaled_test_data=scaler.transform(X_test)

In [45]:
scaled_test_data[0]

array([ 0.67182427,  0.82433557,  1.17145229, -0.18879422,  0.94127902,
       -0.08886522,  1.00597566, -0.62696834,  2.00088038,  1.65011285,
       -0.65700482,  1.1906783 , -0.21101215, -0.81960315,  1.05775997,
       -0.13231208,  1.46840844,  0.03042927])

In [46]:
from sklearn.svm import SVR
model=SVR()

model.fit(scaled_data,y_train)

SVR()

In [47]:
pred=model.predict(scaled_test_data)

In [48]:
from sklearn.metrics import r2_score

In [49]:
r2_score(y_test,pred)

-0.061770280985058434

In [52]:
from src.DimondPricePrediction import logging

ModuleNotFoundError: No module named 'src'

In [65]:
from src.DimondPricePrediction.logger import logger

ModuleNotFoundError: No module named 'src'